.title {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: normal;
  color: rgb(20, 45, 66);
}

.subtitle {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: normal;
  color: rgb(20, 45, 66);
  margin-top: 30px;
  font-weight: 700;
}

.container {
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
  width: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  height: 2.5em;
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
}

.input:focus {
  border-radius: 10px;
  border: 2px solid rgb(65, 117, 202);
  padding: 0;
  outline: 0;
}