.title {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: normal;
  color: rgb(20, 45, 66);
}

.container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 150;
  max-width: 1200px;
  margin: 0 auto;
}